<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head.html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">

    <!-- Custom fonts for this template -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Kaushan+Script}" rel='stylesheet' type='text/css'>
    <link th:href="@{https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic}" rel='stylesheet' type='text/css'>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}" rel='stylesheet' type='text/css'>

</head>

<body id="page-top">

    <!-- Aqui se carga el menu -->
	<div th:replace="fragments/menu::navbar"></div>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido a Uberdos!</div>
                <div class="intro-heading text-uppercase">Sera un gusto atenderle</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Comencemos</a>
            </div>
        </div>
    </header>

    <!-- Aqui se carga el servicio -->
    <div th:replace="fragments/menu::services"></div>

    <!-- Aqui se carga el nosotros -->
    <div th:replace="fragments/menu::about"></div>

    <!-- Aqui se carga el contacto -->
    <div th:replace="fragments/menu::contact"></div>

    <!-- Aqui se carga el footer -->
    <div th:replace="fragments/menu::footer"></div>

    <div th:include="fragments/scripts"></div>
</body>

</html>